@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

h1 {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

:root {
  --button-color: #0061ff;
  --max: 100%;
  --base: 1208px;
}

/*container rules*/

.container {
  width: var(--max);
}

/*margin rules*/

.margin-auto {
  margin: 0 auto;
}

/*flex rules*/

.row {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.row-gap-25 {
  row-gap: 25px;
}
.justify-between{
    justify-content: space-between;
}
/*col layout*/

.col-70 {
  width: 70%;
}
.col-30 {
  width: 30%;
}

/*padding rules*/
.paddingr-25 {
    padding-right: 25px;
  }
.paddingl-25 {
  padding-left: 25px;
}
.paddingt-25 {
  padding-top: 25px;
}
.paddingb-25 {
  padding-bottom: 25px;
}
.paddingb-35 {
  padding-bottom: 35px;
}
.paddingt-35 {
  padding-top: 35px;
}
.paddingt-65 {
  padding-top: 65px;
}
.paddingr-65 {
  padding-left: 65px;
}
.paddingl-65 {
  padding-right: 65px;
}
.paddingb-20 {
  padding-bottom: 20px;
}
.paddingb-45 {
  padding-bottom: 45px;
}
.paddingt-40 {
  padding-top: 40px;
}
.paddingl-35{
    padding-left:35px;
} 
.paddingr-35{
    padding-right: 35px;
} 
.paddingt-15{
    padding-top: 15px;
} 
.paddingb-15{
    padding-bottom: 15px;
}
/*color rules*/

.color-orange {
  color: #ff9614;
}
.bgcolor-near-white {
  background-color: #f6f5f3;
}
.color-purple {
  color: #4e3969;
}
.color-grey {
  color: #999999;
}
.bgcolor-white {
  background-color: white;
}
/*font rules*/

.fonts-50 {
  font-size: 50px;
}
.fonts-12 {
  font-size: 12px;
}
.text-uppercase {
  text-transform: uppercase;
}
/*display rules*/
.display-block {
  display: block;
}
/*radius rules and shadow rules*/
.border-radius-999{
    border-radius: 999px;
}
.box-shadow{
    box-shadow: 5px 5px 10px grey;
}
/*width rules*/
.w-100 {
  width: 100%;
}
/*debug rules*/

.debug {
  border: 1px dashed black;
}
